<div class="example-container">
    <div class="row">
        <div class="col-sm-9 col-md-9">
            <h2 class="mt-0 mb-1">Dashboard</h2>
            <mat-divider></mat-divider>
            <br>
            Cras sit amet nibh libero, in gravida nulla. Nulla vel metus
            scelerisque ante sollicitudin. Cras purus odio, vestibulum in
            vulputate at, tempus viverra turpis. Fusce condimentum nunc ac
            nisi vulputate fringilla. Donec lacinia congue felis in faucibus.
        </div>
        <div class="col-sm-3 col-md-3">

            <button class="mat-raised-button-width-reg" mat-raised-button color="warn" (click)="openAddFoodDialog()">
                Add Food
                <span class="material-icons"> restaurant</span>
            </button>
        </div>
    </div>

</div>
<br/>
<full-calendar [options]="calendarOptions"></full-calendar>
