<div class="example-container">
  <div class="row">
    <div class="col-sm-4 col-md-4">
      <h2 class="mt-0 mb-1"><mat-icon aria-hidden="false" color='warn' aria-label="Example home icon">home</mat-icon>&nbsp;Dashboard</h2>
    </div>
    <div class="col-sm-4 col-md-4" *ngIf="userProfiles$ | async as userProfiles">
      <form [formGroup]="userProfileFormGroup">
        <mat-form-field appearance="fill" >
          <mat-label>Select Profile</mat-label>
          <mat-select formControlName="userProfile">
            <mat-option *ngFor="let item of userProfiles" [value]="item" >{{item.nickName}}</mat-option>

          </mat-select>
        </mat-form-field>
      </form>

    </div>
    <div class="col-sm-4 col-md-4">
      <!-- <button
        class="mat-raised-button-width-reg"
        mat-raised-button
        color="warn"
        (click)="openAddFoodDialog()"
      >
        <mat-icon>add_alarm</mat-icon>
        Add Food
        <span class="material-icons" size="16"> restaurant</span>
      </button> &nbsp;&nbsp; -->
      <div class="example-button-container" >
        <button mat-mini-fab color="warn" aria-label="Example icon button with a home icon"
        (click)="openAddFoodDialog()">
          <mat-icon>alarm_add</mat-icon>
        </button>&nbsp;&nbsp;&nbsp;&nbsp;
        <button mat-mini-fab color="accent" aria-label="Example icon button with a home icon"
         matBadge="{{draftOrdersEvents.length}}">
          <mat-icon  size="16">delivery_dining</mat-icon>
        </button>
      </div>
      <!-- <mat-icon matBadge="15" matBadgeColor="warn">add_shopping_cart</mat-icon>
      <span class="cdk-visually-hidden">
        Example with a home icon with overlaid badge showing the number 15
      </span> -->
    </div>

  </div>
  <div class="row">
    <div class="col-sm-12 col-md-12">
      <mat-divider></mat-divider>
      <br />
    </div>
  </div>
  <div class="row">
    <div class="col-sm-12 col-md-12">
      Cras sit amet nibh libero, in gravida nulla. Nulla vel metus scelerisque
      ante sollicitudin. Cras purus odio, vestibulum in vulputate at, tempus
      viverra turpis. Fusce condimentum nunc ac nisi vulputate fringilla. Donec
      lacinia congue felis in faucibus.
    </div>
  </div>
</div>
<br />
<div *ngIf="this.draftOrdersEvents">
  <full-calendar  [options]="calendarOptions" id="mycal" #mycal></full-calendar>
</div>
