<div class="example-container">
  <div class="row">
    <div class="col-sm-12 col-md-12">
      <h2 class="mt-0 mb-1">Welcome to Fresh Food Schedular!</h2>
      Cras sit amet nibh libero, in gravida nulla. Nulla vel metus scelerisque
      ante sollicitudin. Cras purus odio, vestibulum in vulputate at, tempus
      viverra turpis. Fusce condimentum nunc ac nisi vulputate fringilla. Donec
      lacinia congue felis in faucibus.
    </div>
  </div>
  <br />
  <br />

  <div class="row">
    <div class="offset-sm-3 offset-md-3"></div>
    <div class="col-sm-2 col-md-2 col-xs-12" *ngFor="let item of loginTypes; index as i">
      <div style="padding-left: 30px; cursor: pointer;">
        <p-avatar
        (click)="selectedLoginType(item, i)"
          icon="{{ item.className }}"
          styleClass="p-mr-2"
          size="xlarge"
          [style]="item.style"
          shape="circle"
        ></p-avatar>
      </div>
      <p class="font-weight-bold font-italic text-danger">
        {{ item.title }}?
      </p>
      <small class="form-text text-muted m-t14 text-primary"
        >( {{ item.subTitle }})</small
      >
    </div>

  </div>
  <div class="row m-t4">
    <div class="offset-sm-3 offset-md-3 col-sm-8 col-md-8">
      <mat-divider></mat-divider>
    </div>
  </div>
  <br />
  <div class="row">
    <div class="offset-sm-3 offset-md-3 col-sm-9 col-md-9">
      <form class="form-inline" autosize>
        <div class="form-group">
          <mat-form-field appearance="fill" style="width: 250px !important">
            <mat-label>Enter your email or mobile</mat-label>
            <input
              matInput
              placeholder="pat@example.com"
              [formControl]="email"
              required
            />
            <mat-error *ngIf="email.invalid">{{ getErrorMessage() }}</mat-error>
          </mat-form-field>
        </div>
        <div class="form-group">
          <mat-form-field
            appearance="fill"
            fxFlex="40"
            style="width: 250px !important"
          >
            <mat-label>Enter your password</mat-label>
            <input matInput [type]="hide ? 'password' : 'text'" />
            <button
              mat-icon-button
              matSuffix
              (click)="hide = !hide"
              [attr.aria-label]="'Hide password'"
              [attr.aria-pressed]="hide"
            >
              <mat-icon>{{ hide ? "visibility_off" : "visibility" }}</mat-icon>
            </button>
          </mat-form-field>
        </div>
        <div class="form-group">
          <button
            class="mat-raised-button-width"
            mat-raised-button
            color="accent"
          >
            Sign In
            <span class="material-icons"> login </span>
          </button>
        </div>
      </form>
    </div>
  </div>
  <div class="row">
    <div
      class="offset-sm-3 offset-md-3 col-sm-9 col-md-9 text-nowrap"
      style="width: 4rem"
    >
      <button class="m-l" mat-button color="primary" (click)="redirectToTC()">
        By proceding you also agree the Terms of Service and Privacy Policy
      </button>
    </div>
  </div>
  <div class="row">
    <div class="offset-sm-3 offset-md-3 col-sm-9 col-md-9">
      <span style="margin-left: 10px"
        >Forgot your password?&nbsp;
        <button mat-button color="warn" (click)="redirectToForgotPassword()">
          Click Here..
        </button></span
      >
    </div>
  </div>
  <div class="row">
    <div class="offset-sm-3 offset-md-3 col-sm-9 col-md-9">
      <button class="m-l" mat-button color="primary">
        If your first time user. Please click on below Sign Up
      </button>
    </div>
  </div>
  <div class="row">
    <div class="offset-sm-3 offset-md-3 col-sm-9 col-md-9">
      <button
        class="mat-raised-button-width-reg"
        mat-raised-button
        color="warn"
        (click)="redirectToSingUp()"
      >
        Sign Up
        <span class="material-icons"> person_add </span>
      </button>
    </div>
  </div>
</div>
