.example-container .mat-form-field + .mat-form-field,
.form-group {
  margin-left: 8px;
}
.mat-raised-button-width {
  width: 250px !important;
  margin-top: -18px !important;
  height: 50px !important;
}
.mat-form-field-infix {
  width: 200px !important;
}
.mat-raised-button-width-reg {
  width: 250px !important;
  height: 50px !important;
  margin-left:8px;
}
.m-l {
  margin-left: -5px;
}
.m-t14{
  margin-top: -14px;
}
.m-t4{
  margin-top: 4px;
}


.hit-the-floor {
  color: #ff4081;
  font-size: 2em;
  font-weight: bold;
  font-family: Helvetica;
  text-shadow:
    0 1px 0 #ccc,
    0 2px 0 #c9c9c9,
    0 3px 0 #bbb,
    0 4px 0 #b9b9b9,
    0 5px 0 #aaa,
    0 6px 1px rgba(0,0,0,.1),
    0 0 5px rgba(0,0,0,.1),
    0 1px 3px rgba(0,0,0,.3),
    0 3px 5px rgba(0,0,0,.2),
    0 5px 10px rgba(0,0,0,.25),
    0 10px 10px rgba(0,0,0,.2),
    0 20px 20px rgba(0,0,0,.15);
}



body {
  background-color: #f1f1f1;
}
