.example-container .mat-form-field + .mat-form-field,
.form-group {
  margin-left: 8px;
}
.mat-raised-button-width {
  width: 250px !important;
  margin-top: -18px !important;
  height: 50px !important;
}
.mat-form-field-infix {
  width: 200px !important;
}
.mat-raised-button-width-reg {
  width: 250px !important;
  height: 50px !important;
  margin-left:8px;
}
.m-l {
  margin-left: -5px;
}
