<mat-drawer-container class="example-container"
[class.unicorn-dark-theme]="isAlternateColor"  autosize>
  <mat-drawer
    #drawer
    class="example-sidenav mat-elevation-z10"
    [mode]="isSmallScreen ? 'over' : 'side'"
    [opened]="!isSmallScreen"
  >
    <mat-toolbar color="accent">
      <span>
        <p-avatar icon="pi pi-user" styleClass="p-mr-2" [style]="{'background-color': '#9c27b0', 'color': '#ffffff'}" shape="circle"></p-avatar>Welcome {{this.loggedInUser$?.email.split(".")[0]}}
        <!-- <mat-icon svgIcon="unicorn"></mat-icon>  -->
      </span>
    </mat-toolbar>
    <mat-selection-list #shoes [multiple]="false">
      <mat-list-option *ngFor="let shoe of typesOfShoes" [value]="shoe">
        <mat-icon mat-list-icon> <mat-icon svgIcon="unicorn"></mat-icon></mat-icon>

        <div class="mat-list-text"  (click)="navigateLoginOrLogOut()"> {{ shoe }}</div>
      </mat-list-option>
    </mat-selection-list>
  </mat-drawer>

  <div class="example-sidenav-content">
    <app-toolbar (sideNavToggle)="drawer.toggle()"
    (changeTheame)="isAlternateColor = !isAlternateColor"></app-toolbar>
    <div class="warpper">
      <router-outlet></router-outlet>
    </div>
    <!-- <div class="footer">
      <mat-toolbar color="warn">
        <span>Food Schedular Footer@2021</span>
      </mat-toolbar>
    </div> -->

  </div>
</mat-drawer-container>
