<div class="example-container">
  <div class="row">
    <div class="col-sm-11 col-md-11">
      <h2 class="mt-0 mb-1"><mat-icon aria-hidden="false" color='warn' aria-label="Example home icon">home</mat-icon>&nbsp;Manage Profile</h2>
    </div>

    <div class="col-sm-1 col-md-1">


      <div class="food-button-container">
        <button mat-mini-fab color="warn" aria-label="Example icon button with a home icon"
        (click)="redirectToProfile()">
          <mat-icon>add_circle</mat-icon>
        </button>

      </div>
    </div>

  </div>

  <mat-divider></mat-divider>
  <br/>
  <div class="row">
    <div class="col-sm-12 col-md-12">
      Cras sit amet nibh libero, in gravida nulla. Nulla vel metus scelerisque
      ante sollicitudin. Cras purus odio, vestibulum in vulputate at, tempus
      viverra turpis. Fusce condimentum nunc ac nisi vulputate fringilla. Donec
      lacinia congue felis in faucibus.
      <br/>
    </div>
  </div>
  <!-- <div class="row">

    <div
      class="col-sm-1 col-md-1 col-xs-6"
      *ngFor="let item of profiles; index as i"
    >
      <div style="padding-left: 30px; cursor: pointer">
        <p-avatar

          icon="pi pi-user"
          styleClass="p-mr-2"
          size="xlarge"
          [style]="{ 'background-color': '#ff4081', color: '#ffffff' }"
          shape="circle"
          [mat-dialog-close]="true"></p-avatar>
      </div>
      <p class="font-weight-bold font-italic text-danger" style="padding-left:40px;">{{ item.nickName }}</p>
    </div>
  </div> -->
<div class="row" *ngIf="dataSource">
  <div class="col-sm-12 col-md-12" >
    <br>
    <mat-form-field>
      <mat-label>Filter</mat-label>
      <input matInput (keyup)="applyFilter($event)" placeholder="Ex. Profile Name" #input>
    </mat-form-field>

    <table mat-table [dataSource]="dataSource" matSort class="mat-elevation-z8">

      <!--- Note that these columns can be defined in any order.
            The actual rendered columns are set as a property on the row definition" -->

      <!-- Position Column -->
      <!-- <ng-container matColumnDef="position">
        <th mat-header-cell *matHeaderCellDef> No. </th>
        <td mat-cell *matCellDef="let index = index"> {{index+1}} </td>
      </ng-container> -->

      <!-- Name Column -->
      <ng-container matColumnDef="nickName">
        <th mat-header-cell *matHeaderCellDef  mat-sort-header> Nick Name </th>
        <td mat-cell *matCellDef="let element">
          <div style="cursor: pointer" (click)="openDiaAddress(element)">
            <p-avatar

              icon="pi pi-user"
              styleClass="p-mr-2"
              size="small"
              [style]="{ 'background-color': '#ff4081', color: '#ffffff' }"
              shape="circle"
              [mat-dialog-close]="true"></p-avatar>
          </div>
          <p class=" font-italic text-warning" >  {{element.nickName}} </p>

        </td>
      </ng-container>

      <!-- Weight Column -->
      <ng-container matColumnDef="name">
        <th mat-header-cell *matHeaderCellDef> Name </th>
        <td mat-cell *matCellDef="let element"> {{element.firstName}} {{element.lastName}}</td>
      </ng-container>

      <!-- Symbol Column -->
      <ng-container matColumnDef="mobile">
        <th mat-header-cell *matHeaderCellDef mat-sort-header> Mobile# </th>
        <td mat-cell *matCellDef="let element"> {{element.mobile}} </td>
      </ng-container>
      <ng-container matColumnDef="actions">
        <th mat-header-cell *matHeaderCellDef> Actions </th>
        <td mat-cell *matCellDef="let element">
          <button mat-mini-fab color="accent" aria-label="Example icon button with a plus one icon">
            <mat-icon>edit</mat-icon>
          </button>&nbsp;
          <button mat-mini-fab color="warn" aria-label="Example icon button with a filter list icon"
          (click)="confirmDeleteDialog(element.id)">
            <mat-icon>delete</mat-icon>
          </button>
        </td>
      </ng-container>
      <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
      <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
    </table>

  </div>
</div>
</div>



<ng-template #address>
  <h1 mat-dialog-title><i class="pi pi-map-marker text-danger" style="font-size: 2rem"></i>&nbsp;Selected Profile({{selectedProfile.nickName}}) Address</h1>
  <mat-divider></mat-divider>
  <div mat-dialog-content>
    <mat-list role="list">

      <mat-list-item role="listitem"><i class="pi pi pi-circle-on text-danger" style="font-size: 0.8rem"></i>&nbsp; Adderess: &nbsp;{{selectedProfile.address.addressLine1}}</mat-list-item>
      <mat-list-item role="listitem"><i class="pi pi pi-circle-on text-danger" style="font-size: 0.8rem"></i>&nbsp; City:  &nbsp;{{selectedProfile.address.city}}</mat-list-item>
      <mat-list-item role="listitem"><i class="pi pi pi-circle-on text-danger" style="font-size: 0.8rem"></i>&nbsp; State:  &nbsp;{{selectedProfile.address.state}}</mat-list-item>
      <mat-list-item role="listitem"><i class="pi pi pi-circle-on text-danger" style="font-size: 0.8rem"></i>&nbsp; Country: &nbsp;{{selectedProfile.address.country}}</mat-list-item>
      <mat-list-item role="listitem"><i class="pi pi pi-circle-on text-danger" style="font-size: 0.8rem"></i>&nbsp; ZipCode:  &nbsp;{{selectedProfile.address.zipCode}}</mat-list-item>

    </mat-list>
  </div>
  <div mat-dialog-actions align="end">
    <button mat-button mat-dialog-close>Close</button>
  </div>
</ng-template>

<ng-template #confirmDelete>
  <h1 mat-dialog-title><mat-icon aria-hidden="false" aria-label="Example home icon">warning</mat-icon>&nbsp;Warning</h1>
  <mat-divider></mat-divider>
  <div mat-dialog-content>
    Are you sure want to delete ?
  </div>
  <div mat-dialog-actions align="end">
    <button mat-button mat-dialog-close  (click)="deleteProfileById()">Yes</button>
    <button mat-button mat-dialog-close>Close</button>
  </div>
</ng-template>
