/*$iconWidth: 56px;
.sidenav-toggle {
  display: none;
  padding: 0;
  margin: 8px;
  min-width: $iconWidth;
  @media (max-width: 720px) {
    display: flex;
    align-items: center;
    justify-content: center;
  }
  mat-icon {
    font-size: 30px;
    height: $iconWidth;
    width: $iconWidth;
    line-height: $iconWidth;
    color: white;
  }
}
*/
.example-spacer {
  flex: 1 1 auto;
}

.top-5{
  top:5px;
}

.container {
  font-family: "Inter", sans-serif;

	width: 100%;
	display: flex;

}
// End Codepen spesific styling


h1 {
	color: mix(#fff, #e91e63, 95%);
	font-size: calc(0.5em + 2vw) ;
	font-weight: 500;
	text-shadow:
		-0.0075em 0.0075em 0 mix(#fff, #e91e63, 94%),
		0.005em 0.005em 0 mix(#fff, #e91e63, 60%),
		0.01em 0.01em 0 mix(#fff, #e91e63, 62%),
		0.015em 0.015em mix(#fff, #e91e63, 64%),
		0.02em 0.02em 0 mix(#fff, #e91e63, 66%),
		0.025em 0.025em 0 mix(#fff, #e91e63, 68%),
		0.03em 0.03em 0 mix(#fff, #e91e63, 70%),
		0.035em 0.035em 0 mix(#fff, #e91e63, 72%);
}

.hit-the-floor {
  color: #fff;
  font-size: 1.5em;
  font-weight: bold;
  font-family: Helvetica;
  text-shadow:
    0 1px 0 #ccc,
    0 2px 0 #c9c9c9,
    0 3px 0 #bbb,
    0 4px 0 #b9b9b9,
    0 5px 0 #aaa,
    0 6px 1px rgba(0,0,0,.1),
    0 0 5px rgba(0,0,0,.1),
    0 1px 3px rgba(0,0,0,.3),
    0 3px 5px rgba(0,0,0,.2),
    0 5px 10px rgba(0,0,0,.25),
    0 10px 10px rgba(0,0,0,.2),
    0 20px 20px rgba(0,0,0,.15);
}

.hit-the-floor {
  text-align: center;
}

body {
  background-color: #f1f1f1;
}




