<div class="container-fluid">
  <div class="row">
    <div class="col-sm-12 col-md-12">
      <h2 class="mt-0 mb-1">Update your Profile</h2>
      <mat-divider></mat-divider>
      <br />
      Cras sit amet nibh libero, in gravida nulla. Nulla vel metus scelerisque
      ante sollicitudin. Cras purus odio, vestibulum in vulputate at, tempus
      viverra turpis. Fusce condimentum nunc ac nisi vulputate fringilla. Donec
      lacinia congue felis in faucibus.
    </div>
  </div>
  <br />
  <br />
  <div class="row">
    <div class="col-sm-12 col-md-12">
      <ng-template [ngIf]="isSmallScreen" [ngIfElse]="isBigScreen">
        <mat-vertical-stepper linear #stepper>
          <mat-step [stepControl]="nameFormGroup" [editable]="isEditable">
            <form [formGroup]="nameFormGroup">
              <ng-template matStepLabel>Fill out your name</ng-template>

              <div class="row">
                <div class="offset-sm-3 offset-md-3 col-sm-9 col-md-9">
                  <cdk-virtual-scroll-viewport
                    itemSize="50"
                    class="example-viewport"
                  >
                    <div class="form-group">
                      <mat-form-field
                        appearance="fill"
                        style="width: 250px !important"
                      >
                        <mat-label>Enter your nick name</mat-label>
                        <input
                          matInput
                          formControlName="nickName"
                          placeholder="Nick name"
                          required
                        />
                      </mat-form-field>
                    </div>
                    <div class="form-group">
                      <mat-form-field
                        appearance="fill"
                        style="width: 250px !important"
                      >
                        <mat-label>Enter your first name</mat-label>
                        <input
                          matInput
                          formControlName="firstName"
                          placeholder="First name"
                          required
                        />
                      </mat-form-field>
                    </div>
                    <div class="form-group">
                      <mat-form-field
                        appearance="fill"
                        style="width: 250px !important"
                      >
                        <mat-label>Enter your last name</mat-label>
                        <input
                          matInput
                          formControlName="lastName"
                          placeholder="Last name"
                          required
                        />
                      </mat-form-field>
                    </div>
                    <div class="form-group">
                      <mat-form-field
                        appearance="fill"
                        style="width: 250px !important"
                      >
                        <mat-label>Enter your mobile</mat-label>
                        <input
                          matInput
                          formControlName="mobile"
                          placeholder="Mobile"
                          required
                        />
                      </mat-form-field>
                    </div>
                  </cdk-virtual-scroll-viewport>
                </div>
              </div>

              <div>
                <button mat-button matStepperNext>Next</button>
              </div>
            </form>
          </mat-step>
          <mat-step [stepControl]="secondFormGroup" [editable]="isEditable">
            <form [formGroup]="secondFormGroup">
              <ng-template matStepLabel>Fill out your address</ng-template>
              <div class="row">
                <div class="offset-sm-3 offset-md-3 col-sm-9 col-md-9">
                  <cdk-virtual-scroll-viewport
                    itemSize="50"
                    class="example-viewport"
                  >
                    <div class="form-group">
                      <mat-form-field
                        appearance="fill"
                        style="width: 250px !important"
                      >
                        <mat-label>Enter your address line 1</mat-label>
                        <input
                          matInput
                          formControlName="addressLine1"
                          placeholder="Address line 1"
                          required
                        />
                      </mat-form-field>
                    </div>
                    <!-- <div class="form-group">
                      <mat-form-field
                        appearance="fill"
                        style="width: 250px !important"
                      >
                        <mat-label>Enter your address line 2</mat-label>
                        <input
                          matInput
                          formControlName="addressLine2"
                          placeholder="Address line 2"
                          required
                        />
                      </mat-form-field>
                    </div> -->
                    <div class="form-group">
                      <mat-form-field
                        appearance="fill"
                        style="width: 250px !important"
                      >
                        <mat-label>Enter your zip code</mat-label>
                        <input
                         #input
                          matInput
                          formControlName="zipCode"
                          placeholder="Zip Code"
                          required
                        />
                      </mat-form-field>
                      <span *ngIf="load$ | async as load">
                        <p-progressSpinner
                          [style]="{ width: '30px', height: '30px' }"
                          styleClass="custom-spinner"
                          strokeWidth="8"
                          fill="#EEEEEE"
                          animationDuration=".5s"
                        ></p-progressSpinner>
                      </span>
                    </div>

                    <div class="form-group">
                      <mat-form-field
                        appearance="fill"
                        style="width: 250px !important"
                      >
                        <mat-label>Enter your city</mat-label>
                        <input readonly
                          matInput
                          formControlName="city"
                          placeholder="City"
                          required
                        />
                      </mat-form-field>
                    </div>
                    <div class="form-group">
                      <mat-form-field
                        appearance="fill"
                        style="width: 250px !important"
                      >
                        <mat-label>Enter your state</mat-label>
                        <input readonly
                          matInput
                          formControlName="state"
                          placeholder="State"
                          required
                        />
                      </mat-form-field>
                    </div>


                  </cdk-virtual-scroll-viewport>
                </div>
              </div>
              <div>
                <button mat-button matStepperPrevious>Back</button>
                <button mat-button matStepperNext>Next</button>
              </div>
            </form>
          </mat-step>
          <mat-step>
            <ng-template matStepLabel>Done</ng-template>
            <!-- <p>You are now done.</p> -->
            <div class="container-fluid">
              <div class="offset-sm-6 offset-md-6">
                <button
                  class="mat-raised-button-width-reg"
                  mat-raised-button
                  color="warn"
                  (click)="createUserProfile()"
                >
                  Create Profile
                  <span class="material-icons">save</span>
                </button>
                <span *ngIf="load$ | async as load">
                  <p-progressSpinner
                    [style]="{ width: '50px', height: '50px' }"
                    styleClass="custom-spinner"
                    strokeWidth="8"
                    fill="#EEEEEE"
                    animationDuration=".5s"
                  ></p-progressSpinner>
                </span>
              </div>
            </div>
            <div>
              <button mat-button matStepperPrevious>Back</button>
              <button mat-button (click)="stepper.reset()">Reset</button>
            </div>
          </mat-step>
        </mat-vertical-stepper>
      </ng-template>
      <ng-template #isBigScreen>
        <mat-horizontal-stepper linear #stepper>
          <mat-step [stepControl]="nameFormGroup" [editable]="isEditable">
            <form [formGroup]="nameFormGroup">
              <ng-template matStepLabel>Fill out your name</ng-template>

              <div class="row">
                <div class="offset-sm-3 offset-md-3 col-sm-9 col-md-9">
                  <cdk-virtual-scroll-viewport
                    itemSize="50"
                    class="example-viewport"
                  >
                    <div class="form-group">
                      <mat-form-field
                        appearance="fill"
                        style="width: 250px !important"
                      >
                        <mat-label>Enter your nick name</mat-label>
                        <input
                          matInput
                          formControlName="nickName"
                          placeholder="Nick name"
                          required
                        />
                      </mat-form-field>
                    </div>
                    <div class="form-group">
                      <mat-form-field
                        appearance="fill"
                        style="width: 250px !important"
                      >
                        <mat-label>Enter your first name</mat-label>
                        <input
                          matInput
                          formControlName="firstName"
                          placeholder="First name"
                          required
                        />
                      </mat-form-field>
                    </div>
                    <div class="form-group">
                      <mat-form-field
                        appearance="fill"
                        style="width: 250px !important"
                      >
                        <mat-label>Enter your last name</mat-label>
                        <input
                          matInput
                          formControlName="lastName"
                          placeholder="Last name"
                          required
                        />
                      </mat-form-field>
                    </div>
                    <div class="form-group">
                      <mat-form-field
                        appearance="fill"
                        style="width: 250px !important"
                      >
                        <mat-label>Enter your mobile</mat-label>
                        <input
                          matInput
                          formControlName="mobile"
                          placeholder="Mobile"
                          required
                        />
                      </mat-form-field>
                    </div>
                  </cdk-virtual-scroll-viewport>
                </div>
              </div>

              <div>
                <button mat-button matStepperNext>Next</button>
              </div>
            </form>
          </mat-step>
          <mat-step [stepControl]="secondFormGroup" [editable]="isEditable">
            <form [formGroup]="secondFormGroup">
              <ng-template matStepLabel>Fill out your address</ng-template>
              <div class="row">
                <div class="offset-sm-3 offset-md-3 col-sm-9 col-md-9">
                  <cdk-virtual-scroll-viewport
                    itemSize="50"
                    class="example-viewport"
                  >
                    <div class="form-group">
                      <mat-form-field
                        appearance="fill"
                        style="width: 250px !important"
                      >
                        <mat-label>Enter your address line 1</mat-label>
                        <input
                          matInput
                          formControlName="addressLine1"
                          placeholder="Address line 1"
                          required
                        />
                      </mat-form-field>
                    </div>
                    <!-- <div class="form-group">
                      <mat-form-field
                        appearance="fill"
                        style="width: 250px !important"
                      >
                        <mat-label>Enter your address line 2</mat-label>
                        <input
                          matInput
                          formControlName="addressLine2"
                          placeholder="Address line 2"
                          required
                        />
                      </mat-form-field>
                    </div> -->
                    <div class="form-group">
                      <mat-form-field
                        appearance="fill"
                        style="width: 250px !important"
                      >
                        <mat-label>Enter your zip code</mat-label>
                        <input
                        #input
                          matInput
                          formControlName="zipCode"
                          placeholder="Zip Code"
                          required
                        />
                      </mat-form-field>
                      <span *ngIf="load$ | async as load">
                        <p-progressSpinner
                          [style]="{ width: '30px', height: '30px' }"
                          styleClass="custom-spinner"
                          strokeWidth="8"
                          fill="#EEEEEE"
                          animationDuration=".5s"
                        ></p-progressSpinner>
                      </span>
                    </div>
                    <div class="form-group">
                      <mat-form-field
                        appearance="fill"
                        style="width: 250px !important"
                      >
                        <mat-label>Enter your city</mat-label>
                        <input readonly
                          matInput
                          formControlName="city"
                          placeholder="City"
                          required
                        />
                      </mat-form-field>
                    </div>
                    <div class="form-group">
                      <mat-form-field
                        appearance="fill"
                        style="width: 250px !important"
                      >
                        <mat-label>Enter your state</mat-label>
                        <input readonly
                          matInput
                          formControlName="state"
                          placeholder="State"
                          required
                        />

                      </mat-form-field>

                    </div>


                  </cdk-virtual-scroll-viewport>
                </div>
              </div>
              <div>
                <button mat-button matStepperPrevious>Back</button>
                <button mat-button matStepperNext>Next</button>
              </div>
            </form>
          </mat-step>
          <mat-step>
            <ng-template matStepLabel>Done</ng-template>
            <!-- <p>You are now done.</p> -->
            <br>
            <br>
            <br>
            <div class="container-fluid">
              <div class="offset-sm-6 offset-md-6">
                <button
                  class="mat-raised-button-width-reg"
                  mat-raised-button
                  color="warn"
                  (click)="createUserProfile()"
                >
                  Create Profile
                  <span class="material-icons">save</span>
                </button>
                <span *ngIf="load$ | async as load">
                  <p-progressSpinner
                    [style]="{ width: '50px', height: '50px' }"
                    styleClass="custom-spinner"
                    strokeWidth="8"
                    fill="#EEEEEE"
                    animationDuration=".5s"
                  ></p-progressSpinner>
                </span>
              </div>
            </div>
            <br>
            <br>
            <br>
            <div>
              <button mat-button matStepperPrevious>Back</button>
              <button mat-button (click)="stepper.reset()">Reset</button>
            </div>
          </mat-step>
        </mat-horizontal-stepper>
      </ng-template>
    </div>
  </div>
</div>
