<div class="example-container">
  <div class="row">
    <div class="col-sm-12 col-md-12">
      <h2 class="mt-0 mb-1">Please set your Preferences</h2>
      <mat-divider></mat-divider>
      <br>
      Cras sit amet nibh libero, in gravida nulla. Nulla vel metus
      scelerisque ante sollicitudin. Cras purus odio, vestibulum in
      vulputate at, tempus viverra turpis. Fusce condimentum nunc ac
      nisi vulputate fringilla. Donec lacinia congue felis in faucibus.
    </div>
  </div>
  <br />
  <br />
  <div class="row" *ngIf="viewModel$ | async as vm">
    <div class="offset-sm-3 offset-md-3 col-sm-9 col-md-9">
      <form [formGroup]="FormGroup" autosize>
        <div class="form-group">
          <p-multiSelect [options]="vm.cuisines" [(ngModel)]="selectedCuisine" defaultLabel="Select Cuisine"
            optionLabel="cuisineName" [style]="{'width':'40%'}" [ngModelOptions]="{standalone: true}"></p-multiSelect>
        </div>
        <div class="form-group">
          <p-multiSelect [options]="vm.proteins" [(ngModel)]="selectedProtein" defaultLabel="Select Protein"
            optionLabel="proteinName" [style]="{'width':'40%'}" [ngModelOptions]="{standalone: true}"></p-multiSelect>
        </div>
        <div class="form-group">
          <p-multiSelect [options]="vm.allergys" [(ngModel)]="selectedAllergy" defaultLabel="Select Allergy"
            optionLabel="allergyName" [style]="{'width':'40%'}" [ngModelOptions]="{standalone: true}"></p-multiSelect>
        </div>
        <div class="form-group" hidden>
          <textarea rows="3" cols="80" pInputTextarea autoResize="autoResize" class="form-control"
            placeholder="Enter your allergies" [style]="{'width':'40%'}"></textarea>
        </div>
        <div class="form-group">
          <button class="mat-raised-button-width-reg" mat-raised-button color="warn" (click)="createPreferences()">
            Save
            <span class="material-icons"> save </span>
          </button>
        </div>
      </form>
    </div>
  </div>
</div>
