:host {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}
.p-0{
  padding: 0px;
}
.mat-raised-button-width-reg {
  width: 250px !important;
  height: 50px !important;

}
.p-progress-spinner-svg{
  margin-top: 20px !important;
}
