<div class="example-container">
  <div class="row">
    <div class="col-sm-12 col-md-12">
      <h2 class="mt-0 mb-1">
        Complete Your registration(<small>{{ selectedCustomerType }}</small
        >)
      </h2>
      <mat-divider></mat-divider>
      <br />
      Cras sit amet nibh libero, in gravida nulla. Nulla vel metus scelerisque
      ante sollicitudin. Cras purus odio, vestibulum in vulputate at, tempus
      viverra turpis. Fusce condimentum nunc ac nisi vulputate fringilla. Donec
      lacinia congue felis in faucibus.
    </div>
  </div>
  <br />
  <br />
  <div class="row">
    <div class="offset-sm-3 offset-md-3 col-sm-9 col-md-9">
      <form autosize [formGroup]="registationFormGroup" (ngSubmit)="saveRegistration(registationFormGroup)">
        <div class="form-group">
          <mat-form-field appearance="fill" style="width: 250px !important">
            <mat-label>Enter your email or mobile</mat-label>
            <input
              matInput
              placeholder="pat@example.com"
              formControlName="email"
              required
            />
            <mat-error
              *ngIf="
                registationFormGroup.get('email').hasError('email') &&
                !registationFormGroup.get('email').hasError('required')
              "
            >
              Please enter a valid email address
            </mat-error>
            <mat-error
              *ngIf="registationFormGroup.get('email').hasError('required')"
            >
              Email is <strong>required</strong>
            </mat-error>
          </mat-form-field>
        </div>
        <div class="form-group">
          <mat-form-field
            appearance="fill"
            fxFlex="40"
            style="width: 250px !important"
          >
            <mat-label>Choose password*</mat-label>
            <input
              matInput
              [type]="hide ? 'password' : 'text'"
              formControlName="password"
              required
            />
            <button
              mat-icon-button
              matSuffix
              (click)="hide = !hide"
              [attr.aria-label]="'Hide password'"
              [attr.aria-pressed]="hide"
            >
              <mat-icon>{{ hide ? "visibility_off" : "visibility" }}</mat-icon>
            </button>
            <mat-error
              *ngIf="registationFormGroup.get('password').hasError('required')"
            >
              Password is <strong>required</strong>
            </mat-error>
          </mat-form-field>
        </div>
        <div class="form-group">

          <mat-form-field
            appearance="fill"
            fxFlex="40"
            style="width: 250px !important"
          >
            <mat-label>Repeat password*</mat-label>
            <input
              matInput
              [type]="hide ? 'password' : 'text'"
              formControlName="confirmPassword"
              required
            />
            <button
              mat-icon-button
              matSuffix
              (click)="hide = !hide"
              [attr.aria-label]="'Hide password'"
              [attr.aria-pressed]="hide"
            >
              <mat-icon>{{ hide ? "visibility_off" : "visibility" }}</mat-icon>
            </button>
            <mat-error
              *ngIf="registationFormGroup.get('confirmPassword').hasError('required')"
            >
              Password is <strong>required</strong>
            </mat-error>
            <mat-error
            *ngIf="registationFormGroup.hasError('notSame')"
          >
            Repeat password is not <strong>match</strong>
          </mat-error>
            <!-- <mat-error
            *ngIf="registationFormGroup.hasError('notSame')"
          >
          Repeat does not match  <strong>password</strong>
          </mat-error> -->
          </mat-form-field>
        </div>

        <div class="form-group" *ngIf="selectedCustomerType === 'Restaurant'">
          <mat-form-field appearance="fill" style="width: 250px !important">
            <mat-label>Enter your address line 1</mat-label>
            <input matInput placeholder="Address line 1" required />
          </mat-form-field>
        </div>
        <div class="form-group" *ngIf="selectedCustomerType === 'Restaurant'">
          <mat-form-field appearance="fill" style="width: 250px !important">
            <mat-label>Enter your city</mat-label>
            <input matInput placeholder="City" required />
          </mat-form-field>
        </div>
        <div class="form-group" *ngIf="selectedCustomerType === 'Restaurant'">
          <mat-form-field appearance="fill" style="width: 250px !important">
            <mat-label>Enter your state</mat-label>
            <input matInput placeholder="State" required />
          </mat-form-field>
        </div>
        <div class="form-group" *ngIf="selectedCustomerType === 'Restaurant'">
          <mat-form-field appearance="fill" style="width: 250px !important">
            <mat-label>Enter your zip code</mat-label>
            <input matInput placeholder="Zip Code" required />
          </mat-form-field>
        </div>
        <div class="form-group" *ngIf="selectedCustomerType === 'Restaurant'">
          <mat-form-field appearance="fill" style="width: 250px !important">
            <mat-label>Enter your country</mat-label>
            <input matInput placeholder="Country" required />
          </mat-form-field>
        </div>
        <div class="form-group">
          <p
            class="text-warning font-italic"
            mat-button
            color="warn"
            (click)="redirectToTC()"
            style="cursor: pointer"
          >
            By proceding you also agree the Terms of Service and Privacy Policy.
          </p>
        </div>
        <div class="form-group">
          <button
            class="mat-raised-button-width-reg"
            mat-raised-button
            color="warn"
            [disabled]="registationFormGroup.invalid"
          >
            Sign Up
            <span class="material-icons"> person_add </span>
            <span *ngIf="load$ | async as load">
              <p-progressSpinner [style]="{width: '50px', height: '50px'}" styleClass="custom-spinner" strokeWidth="8" fill="#EEEEEE" animationDuration=".5s"></p-progressSpinner>
             </span>
          </button>

        </div>
        <div class="form-group" (click)="redirectToSignIn()">
          <span
            >Already have an account?&nbsp;
            <button mat-button color="warn">Sign In..</button></span
          >
        </div>
      </form>
    </div>
  </div>
</div>
