<div class="example-container">
  <div class="row">
    <div class="col-sm-12 col-md-12">
      <h2 class="mt-0 mb-1">Please Schedule your Food</h2>
      <mat-divider></mat-divider>
      <br />
      Cras sit amet nibh libero, in gravida nulla. Nulla vel metus scelerisque
      ante sollicitudin. Cras purus odio, vestibulum in vulputate at, tempus
      viverra turpis. Fusce condimentum nunc ac nisi vulputate fringilla. Donec
      lacinia congue felis in faucibus.
    </div>
  </div>
  <br />
  <br />
  <div class="row">
    <div class="offset-sm-3 offset-md-3 col-sm-9 col-md-9">
      <form autosize>
        <div class="form-group">
          <p-dropdown
            [options]="cuisines"
            [(ngModel)]="selectedCuisine"
            placeholder="Select Cuisine"
            optionLabel="name"
            [style]="{ width: '240px' }"
            [ngModelOptions]="{ standalone: true }"
          ></p-dropdown>
        </div>
        <div class="form-group">
          <p-dropdown
          autoWidth="false"
            [options]="protiens"
            [(ngModel)]="selectedProtien"
            placeholder="Select Protien"
            optionLabel="name"
            [style]="{ width: '240px' }"
            [ngModelOptions]="{ standalone: true }"
          ></p-dropdown>
        </div>
        <div class="form-group">

          <mat-form-field class="example-full-width" color="accent" appearance="fill">
            <mat-label>Choose a date</mat-label>
            <input
              matInput
              [ngxMatDatetimePicker]="picker"
              placeholder="Choose a date & time"
              [(ngModel)]="myDatePicker"
              [ngModelOptions]="{standalone: true}"
            />

            <mat-datepicker-toggle
              matSuffix
              [for]="picker"
            ></mat-datepicker-toggle>

            <ngx-mat-datetime-picker
              #picker
              [enableMeridian]="true"
            ></ngx-mat-datetime-picker>
          </mat-form-field>

        </div>
        <div class="form-group">
          <button
            class="mat-raised-button-width-reg"
            mat-raised-button
            color="warn"
          >
            Save
            <span class="material-icons"> save </span>
          </button>
        </div>
      </form>
    </div>
  </div>
</div>
