<div class="container-fluid">
  <div class="row">
    <div class="col-sm-12 col-md-12">
      <div class="card mat-elevation-z12">
        <div class="card-body">
          <div class="media">
            <div class="media-body">
              <h2 class="mt-0 mb-1">Welcome to Fresh Food Schedular!</h2>
              Cras sit amet nibh libero, in gravida nulla. Nulla vel metus
              scelerisque ante sollicitudin. Cras purus odio, vestibulum in
              vulputate at, tempus viverra turpis. Fusce condimentum nunc ac
              nisi vulputate fringilla. Donec lacinia congue felis in faucibus.

              <div class="row">
                <div class="col-sm-12 col-md-12">
                  <br />
                  <br />
                  <app-login></app-login>

                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
