<div class="example-container">
    <div class="row">
        <div class="col-sm-12 col-md-12">
            <h2 class="mt-0 mb-1">Terms & Conditions</h2>
            <mat-divider></mat-divider>
            <br>
        </div>
    </div>
    <br />
    <div class="row">
        <div class="col-sm-12 col-md-12">
            <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Fusce convallis pellentesque metus id lacinia.
                Nunc dapibus pulvinar auctor. Duis nec sem at orci commodo viverra id in ipsum. Fusce tellus nisl,
                vestibulum sed rhoncus at, pretium non libero. Cras vel lacus ut ipsum vehicula aliquam at quis urna.
                Nunc ac ornare ante. Fusce lobortis neque in diam vulputate quis semper sem elementum.Lorem ipsum dolor
                sit amet, consectetur adipiscing elit. Fusce convallis pellentesque metus id lacinia. Nunc dapibus
                pulvinar auctor. Duis nec sem at orci commodo viverra id in ipsum. Fusce tellus nisl, vestibulum sed
                rhoncus at, pretium non libero. Cras vel lacus ut ipsum vehicula aliquam at quis urna. Nunc ac ornare
                ante. Fusce lobortis neque in diam vulputate quis semper sem elementum.Lorem ipsum dolor sit amet,
                consectetur adipiscing elit. Fusce convallis pellentesque metus id lacinia. Cras vel lacus ut ipsum
                vehicula aliquam at quis urna. Nunc ac ornare ante. Fusce lobortis neque in diam vulputate quis semper
                sem elementum. Lorem ipsum dolor sit amet, consectetur adipiscing elit. Fusce convallis pellentesque
                metus id lacinia. Nunc dapibus pulvinar auctor. Duis nec sem at orci commodo viverra id in ipsum. Fusce
                tellus nisl, vestibulum sed rhoncus at, pretium non libero.</p>
        </div>
    </div>
</div>
